@import url("https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:wght@300;400&display=swap");

//colors
$white: hsl(0, 0%, 100%);
$black: hsl(0, 0%, 0%);
$dark-gray: hsl(0, 0%, 55%);
$darker-gray: hsl(0, 0%, 41%);
// $imageOverlay: #e5ddda;

//font-family
$body-font: "Alata", sans-serif;
$heading-font: "Josefin Sans", sans-serif;

$mediaBreakpoints: (
  mobile: 23.4375rem,
  tablet: 48rem,
  desktop: 64rem,
);

@mixin media-query($size) {
  @media (min-width: map-get($mediaBreakpoints, $size)) {
    @content;
  }
}
