@import url("https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:wght@300;400&display=swap");
:root {
  box-sizing: border-box;
}

body {
  box-sizing: inherit;
  margin: 0;
}

.scroll-lock {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

* {
  box-sizing: border-box;
}

.flex-wrap {
  display: flex;
  flex-wrap: wrap;
}

.container {
  width: 100%;
  max-width: 1055px;
  margin: 0 auto;
}

.nav {
  position: absolute;
  width: 100%;
  padding: 3rem 1.5rem;
  z-index: 1;
}
@media (min-width: 48rem) {
  .nav {
    padding: 3rem 2rem;
  }
}
.nav--active .nav__burger--first {
  transform: rotate(45deg);
}
.nav--active .nav__burger--second {
  opacity: 0;
}
.nav--active .nav__burger--third {
  transform: rotate(-45deg);
}
.nav__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav__logo-link {
  width: 50%;
  max-width: 192px;
  z-index: 1;
}
.nav__logo {
  display: block;
  width: 100%;
}
.nav__toggle {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  z-index: 1;
  cursor: pointer;
}
@media (min-width: 64rem) {
  .nav__toggle {
    display: none;
  }
}
.nav__burger {
  display: block;
  width: 1.5rem;
  height: 2px;
  background-color: hsl(0, 0%, 100%);
  border-radius: 2rem;
  transition: 0.2s ease;
}
.nav__burger:not(:last-child) {
  margin-bottom: 5px;
}
.nav__burger--first {
  transform-origin: 2px 0px;
}
.nav__burger--third {
  transform-origin: 1px 2px;
}
.nav__menu {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  color: white;
  list-style: none;
  padding: 6rem 1.5rem;
  margin: 0;
  visibility: hidden;
}
@media (min-width: 64rem) {
  .nav__menu {
    position: static;
    transform: none;
    transition: none;
    width: auto;
    flex-direction: row;
    padding: 0;
    visibility: visible;
  }
}
.nav__item {
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.5rem;
  margin: 1.5rem 0;
  cursor: pointer;
  text-transform: uppercase;
  position: relative;
  visibility: hidden;
}
.nav__item::after {
  content: "";
  width: 1.3rem;
  height: 2px;
  background-color: hsl(0, 0%, 100%);
  display: block;
  position: absolute;
  bottom: -0.5rem;
  border-radius: 2rem;
  transform: scaleX(0);
  transform-origin: left;
  transition: 0.3s ease;
}
.nav__item:hover::after {
  transform: scaleX(1);
}
@media (min-width: 64rem) {
  .nav__item {
    font-size: 0.9rem;
    text-transform: capitalize;
    margin: 0 1rem;
  }
  .nav__item::after {
    left: 50%;
    transform: translateX(-50%) scaleX(0);
    transform-origin: center;
  }
  .nav__item:hover::after {
    transform: translateX(-50%) scaleX(1);
  }
}

.overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: hsl(0, 0%, 0%);
  opacity: 0;
  pointer-events: none;
  transition: 0.2s ease;
}

.heading-text {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 300;
  margin: 0;
}
.heading-text--hero {
  color: hsl(0, 0%, 100%);
  font-size: 2.5rem;
  line-height: 3rem;
}
@media (min-width: 48rem) {
  .heading-text--hero {
    font-size: 3.5rem;
    line-height: 4rem;
  }
}

.body-text {
  font-family: "Alata", sans-serif;
  font-size: 0.9rem;
  color: hsl(0, 0%, 55%);
  line-height: 1.8rem;
}

.hero {
  position: relative;
  height: 100vh;
  min-height: 100vh;
  padding: 0 1.5rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
@media (min-width: 48rem) {
  .hero {
    padding: 0 2rem;
  }
}
.hero__image {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
}
.hero__image img {
  width: 100%;
  height: 100%;
}
.hero__text {
  border: 2px solid hsl(0, 0%, 100%);
  padding: 1.5rem;
  width: 100%;
  max-width: 500px;
}

.content {
  background-color: hsl(0, 0%, 100%);
  padding: 8rem 1.5rem;
}
@media (min-width: 48rem) {
  .content {
    padding: 8rem 2rem;
  }
}

.about {
  display: grid;
  margin-bottom: 2rem;
  position: relative;
}
@media (min-width: 48rem) {
  .about {
    margin-bottom: 6rem;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 64rem) {
  .about {
    align-items: flex-end;
    grid-template-columns: 2fr 1fr;
  }
}
.about__image {
  width: 100%;
  display: block;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -ms-grid-row: 1;
}
@media (min-width: 48rem) {
  .about__image--mobile {
    display: none;
  }
}
.about__image--desktop {
  display: none;
}
@media (min-width: 48rem) {
  .about__image--desktop {
    display: block;
    -ms-grid-column: 1;
  }
}
.about__text {
  padding: 3rem 1rem;
  text-align: center;
  background-color: hsl(0, 0%, 100%);
  -ms-grid-row: 2;
}
@media (min-width: 48rem) {
  .about__text {
    text-align: left;
    -ms-grid-column: 2;
    -ms-grid-row: 1;
  }
}
@media (min-width: 64rem) {
  .about__text {
    padding: 3rem 3rem 0 3rem;
    position: absolute;
    right: 0;
    bottom: 0;
    width: 50%;
  }
}

.creations {
  text-align: center;
  position: relative;
}
@media (min-width: 48rem) {
  .creations {
    text-align: left;
  }
}
.creations__cards-container {
  display: grid;
  grid-gap: 1.8rem;
  grid-template-columns: repeat(auto-fit, minmax(14.375rem, 1fr));
  margin: 3rem 0;
}
.creations__card {
  position: relative;
  cursor: pointer;
}
.creations__card::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: hsl(0, 0%, 100%);
  opacity: 0;
  z-index: 0;
  transition: opacity 0.3s ease-out;
}
.creations__card .creations__name {
  color: hsl(0, 0%, 0%);
  z-index: 9;
  opacity: 0;
  transition: opacity 0.3s ease-out;
}
.creations__card:hover::after {
  opacity: 0.75;
}
.creations__card:hover .creations__name {
  opacity: 1;
}
.creations__image {
  width: 100%;
  display: block;
}
.creations__name {
  color: hsl(0, 0%, 100%);
  position: absolute;
  left: 1.5rem;
  bottom: 1.5rem;
  width: 130px;
  text-align: left;
  text-transform: uppercase;
}

.button {
  outline: none;
  background: none;
  border: 1px solid hsl(0, 0%, 0%);
  color: hsl(0, 0%, 0%);
  font-family: "Alata", sans-serif;
  font-size: 1rem;
  letter-spacing: 2px;
  padding: 0.5rem 2.5rem;
  transition: 0.3s ease-out;
  cursor: pointer;
}
.button:hover {
  background-color: hsl(0, 0%, 0%);
  color: hsl(0, 0%, 100%);
}
@media (min-width: 48rem) {
  .button {
    position: absolute;
    top: 0;
    right: 0;
  }
}

.footer {
  background-color: hsl(0, 0%, 0%);
  padding: 4rem 2rem;
}
@media (min-width: 48rem) {
  .footer {
    padding: 2rem;
  }
  .footer .body-text {
    font-size: 0.8rem;
    line-height: 1rem;
    margin: 0;
  }
}
@media (min-width: 48rem) {
  .footer__inner {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    height: 60px;
  }
}
.footer__column {
  text-align: center;
}
@media (min-width: 48rem) {
  .footer__column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }
  .footer__column--left {
    align-items: flex-start;
  }
  .footer__column--right {
    align-items: flex-end;
  }
}
.footer__links {
  list-style: none;
  padding: 0;
  margin: 2rem 0 3rem;
}
@media (min-width: 48rem) {
  .footer__links {
    display: flex;
    margin: 0;
  }
}
.footer__link {
  font-family: "Alata", sans-serif;
  color: hsl(0, 0%, 100%);
  margin: 1rem 0;
  position: relative;
  transition: color 0.3s ease;
  cursor: pointer;
}
.footer__link::after {
  content: "";
  width: 1.3rem;
  height: 2px;
  background-color: hsl(0, 0%, 100%);
  display: block;
  position: absolute;
  left: 50%;
  bottom: -0.5rem;
  transform: translateX(-50%) scaleX(0);
  transition: transform 0.3s ease;
  border-radius: 2rem;
}
.footer__link:hover {
  color: hsl(0, 0%, 100%);
}
.footer__link:hover::after {
  transform: translateX(-50%) scaleX(1);
}
@media (min-width: 48rem) {
  .footer__link {
    margin: 0 0.8rem 0 0;
    color: hsl(0, 0%, 55%);
    font-size: 0.8rem;
  }
}
.footer__icon-link {
  display: inline-block;
  margin: 0 0.5rem;
  padding-bottom: 0.3rem;
}
.footer__icon-link::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background-color: hsl(0, 0%, 100%);
  margin-top: 0.3rem;
  transform: scaleX(0);
  transform-origin: center;
  transition: transform 0.3s ease;
}
.footer__icon-link:hover::after {
  transform: scaleX(1);
}
.footer__icon {
  color: hsl(0, 0%, 100%);
  font-size: 1.5rem;
}

.attribution {
  padding: 1rem;
  text-align: center;
  font-family: "Alata", sans-serif;
  font-size: 12px;
  color: hsl(0, 0%, 55%);
}
.attribution a {
  color: hsl(0, 0%, 55%);
}/*# sourceMappingURL=styles.css.map */